/*Global style*/
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  padding-left: ;
  padding-right: ;
  margin-left: ;
  margin-right: ;
}

/*Top line*/
.top-line {
  background-color: #ffffff;
}
.logo {
  color: #4d5ae5;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo-top {
  color: #2e2f42;
}
.link-nav {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
}
.link-nav:active {
  text-decoration: underline;
}
.contakt {
  font-style: normal;
}
.link-addres {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link-addres:hover,
.link-addres:focus {
  color: #404bbf;
}

/*Section-1*/
.top-fon {
  background-color: #2e2f42;
}
.top-title {
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.top-but {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.top-but:hover,
.top-but:focus {
  background-color: #404bbf;
}

/*Global settings titles and captions and Section-2*/
.sec-title {
  text-transform: capitalize;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.text-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*Section-3*/
.team {
  background-color: #f4f4fd;
}
.photo {
  background-color: #ffffff;
}
.team .text-title {
  text-align: center;
}
.team .text {
  text-align: center;
}

/*Down line*/
.down-line {
  background-color: #2e2f42;
}
.logo-down {
  color: #f4f4fd;
}
.down-line .text {
  color: #f4f4fd;
}
